@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap");
/*color default: #c90c0f */

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

[hidden],
template {
  display: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

html {
  font-size: 16px;
}

@media only screen and (min-width: 768px) and (max-width: 1359px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

p {
  line-height: 1.5;
}

.container {
  width: 100%;
}

.container-fluid {
  width: 1200px;
  margin: 0 auto;
}

.ul-inline {
  list-style: none;
}

.ul-inline li {
  display: inline-block;
  padding: 0 2px;
}

header .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}

header .container {
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: #fff;
}

header .header-main nav {
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  float: right;
}

header .header-main nav div {
  text-align: right;
}

header .header-main nav div a {
  display: block;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  color: #222;
  text-align: center;
  text-transform: lowercase;
  padding: 35px 20px;
}

.redes-sociais .ul-inline li > a {
  padding: 40px 5px !important;
}

header .header-main nav div a:hover,
header .header-main nav div a.active {
  color: #c90c0f;
}

header .header-main .logo-menu {
  width: 100%;
  padding-top: 5px;
}

header .header-main .logo-menu .logo {
  display: block;
  height: 110px;
  background: url(../img/layout/marca-SegmentoFarma.svg) no-repeat 100%;
  text-indent: -9999px;
  background-position: left;
  background-size: 100%;
}

@media only screen and (max-width: 1359px) {
  header .header-main {
    padding: 10px 0;
  }
  header .header-main nav {
    display: none;
  }
  .container-fluid {
    width: 90%;
  }
  #mobile-toggle {
    display: none;
  }
}

#mobile-toggle {
  display: block;
  background-color: transparent;
  border: 0;
  position: relative;
  height: 24px;
  width: 28px;
  outline: 0;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: 15px;
}

@media only screen and (min-width: 1360px) {
  #mobile-toggle {
    display: none;
  }
}

#mobile-toggle .lines {
  display: block;
  width: 100%;
  height: 4px;
  background: #c90c0f;
  position: relative;
  transition: 0.3s ease;
}

#mobile-toggle .lines:after,
#mobile-toggle .lines:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background: #c90c0f;
  transition: 0.3s ease;
}

#mobile-toggle .lines:before {
  top: 7px;
}

#mobile-toggle .lines:after {
  top: -7px;
}

#mobile-toggle.close .lines {
  background: transparent;
}

#mobile-toggle.close .lines:after,
#mobile-toggle.close .lines:before {
  transform-origin: 50% 50%;
  top: 0;
}

#nav-mobile {
  display: none;
  background: #fff;
  position: fixed;
  z-index: 103;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  top: 110px;
  left: 0;
  width: 100%;
  padding: 20px;
}

@media only screen and (min-width: 1360px) {
  #nav-mobile {
    display: none !important;
  }
}

#nav-mobile .center {
  text-align: right;
}

#nav-mobile .center a {
  display: block;
  text-transform: uppercase;
  color: #333;
  font-size: 0.9375rem;
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 0.7em;
}

#nav-mobile .center a:hover,
#nav-mobile .center a.active,
#nav-mobile .center a.open {
  color: #c90c0f;
}

#mobile-toggle.close .lines:before {
  transform: rotate(45deg);
}

#mobile-toggle.close .lines:after {
  transform: rotate(-45deg);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

/* grid desktop */

.row-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

[class*="col-"] {
  padding: 10px;
}

.row-grid::after {
  content: "";
  clear: both;
  display: flex;
}

@media only screen and (min-width: 893px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  .mb-09 {
    margin-bottom: 0.9em;
  }
}

/**/

/* grid tablet */

@media only screen and (max-width: 992px) {
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
  .sobre .documento,
  .sobre .background,
  .servicos .background,
  .size-limited,
  .servicos .bloco-pequeno {
    width: 100%;
  }
  .servicos .bloco-menor .img-absolute {
    top: 0% !important;
  }
}

/**/

@media only screen and (min-width: 692px) {
  .pl-1 {
    padding-left: 1em;
  }
  .pl-2 {
    padding-left: 2em;
  }
  .pl-3 {
    padding-left: 3em;
  }
  .pr-3 {
    padding-right: 3em;
  }
  .pr-0 {
    padding-right: 0;
  }

  .pr-1 {
    padding-right: 1em;
  }

  .pr-2 {
    padding-right: 2em;
  }
  .mt-0 {
    margin-top: 0 !important;
  }

  .mt-1 {
    margin-top: 1em;
  }

  .mt-2 {
    margin-top: 2em;
  }

  .mt-3 {
    margin-top: 3em;
  }
}

/* grid mobile */

@media only screen and (max-width: 692px) {
  .col-sm-1 {
    width: 8.33%;
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .d-sm-none {
    display: none;
  }
  .servicos .bloco-menor .img-absolute,
  .servicos .bloco-pequeno .content-span {
    top: 0% !important;
    position: relative !important;
  }
  .servicos .bloco-pequeno .span {
    left: -14% !important;
  }

  .servicos .bloco-pequeno,
  .servicos .bloco-menor {
    width: 90% !important;
  }

  .home .banner {
    height: 550px !important;
  }
  .home .banner .banner-box {
    padding-top: 25% !important;
  }
  .home .banner .banner-box img {
    width: 35% !important;
  }

  .home .banner .banner-box h1,
  .home .bloco-2-home h1,
  .servicos .titulo {
    font-size: 32px !important;
    line-height: 1.4em !important;
  }

  .sobre .background h1,
  .servicos .background {
    font-size: 26px !important;
  }

  .pl-sm-1 {
    padding-left: 1em !important;
  }

  .sobre .documento .btn-pdf {
    padding: 10px 20px !important;
  }

  .servicos .background {
    width: 90% !important;
  }

  .clientes .d-flex {
    grid-template-columns: 50% 50% !important;
  }
  .contato form .submit,
  footer form .submit {
    width: 35% !important;
  }

  footer .logo-footer {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 692px) and (max-width: 1200px) {
  .home .banner {
    height: auto !important;
  }
  .home .banner .banner-box {
    padding-top: 15% !important;
  }
  .home .banner .banner-box img {
    width: 30% !important;
  }

  .home .banner .banner-box h1,
  .home .bloco-2-home h1,
  .servicos .titulo {
    font-size: 38px !important;
  }
}

/**/

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1em !important;
}

.p-2 {
  padding: 2em !important;
}

.p-3 {
  padding: 3em !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 1em;
}

.pt-2 {
  padding-top: 2em;
}

.pt-3 {
  padding-top: 3em;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 1em;
}

.pb-2 {
  padding-bottom: 2em;
}

.pb-3 {
  padding-bottom: 3em;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 2em;
}

.mb-3 {
  margin-bottom: 3em;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 1em;
}

.mr-2 {
  margin-right: 2em;
}

.mr-3 {
  margin-right: 3em;
}

.ml-1 {
  margin-left: 1em;
}

.ml-2 {
  margin-left: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.aviso-cookies {
  width: 100%;
  height: 190px;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  -ms-justify-content: space-between;
  justify-content: space-between;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9;
  padding: 0 calc((100% - 1120px) / 2);
}

.aviso-cookies .frase-cookies {
  width: 835px;
  font-size: 1rem;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-weight: 300;
  color: #fff;
  margin: 0;
}

.aviso-cookies .frase-cookies .link-politica {
  text-decoration: underline;
}

.aviso-cookies .frase-cookies .link-politica:hover {
  font-weight: 700;
}

.aviso-cookies .aceitar-cookies {
  width: 220px;
  height: 50px;
  font-size: 1rem;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #c90c0f;
  border: none;
  border-radius: 0;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  transition: 0.3s ease;
}

.aviso-cookies .aceitar-cookies:hover {
  background-color: #a00a0d;
}

@media only screen and (max-width: 1359px) {
  .aviso-cookies {
    padding: 0 10%;
  }
  .aviso-cookies .frase-cookies {
    font-size: 14px;
    width: 75%;
  }
  .aviso-cookies .aceitar-cookies {
    font-size: 14px;
    width: 180px;
  }
  .aviso-cookies {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    padding: 20px;
  }
  .aviso-cookies .aceitar-cookies {
    font-size: 12px;
    width: 50%;
    text-align: center;
    margin-left: 0;
    margin-top: 10px;
  }
  .aviso-cookies .frase-cookies {
    font-size: 12px;
    width: 100%;
    text-align: center;
  }
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.f-none {
  float: none !important;
}

.flash {
  padding: 13px 10px;
  font-size: 13px;
  font-family: Asap, sans-serif;
  text-transform: uppercase;
  margin: 10px;
}

.flash-sucesso {
  background-color: #b1ecb7;
  color: #6da647;
}

.flash-erro {
  background-color: #f99090;
  color: #222;
}

body .home {
  margin-top: 130px;
}

footer {
  background-color: #eee;
  padding: 20px 0 0 0;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #777;
  border: 1px solid #c90c0f;
}

footer .menu-footer {
  list-style: none;
}

footer .menu-footer li {
  padding-bottom: 5px;
}

footer .menu-footer li::before {
  background: url(../img/layout/setinha-vermelha.svg) no-repeat 100%;
  padding-right: 10px;
  content: "";
  background-size: contain;
  margin-right: 6px;
}

footer form input,
footer form textarea,
.contato form input,
.contato form textarea {
  border: none;
  background-color: white;
  width: 100%;
  margin: 1px;
  padding: 2px 5px;
  font-size: 14px;
}

.contato form input,
.contato form textarea {
  background-color: #eee;
}

footer form textarea,
.contato form textarea {
  height: 100%;
}

footer form .submit,
.contato form .submit {
  width: 13%;
  background-color: #c90c0f;
  border: none;
  color: white;
  font-style: italic;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
  margin-top: 4px;
}

footer form .submit:hover,
.contato form .submit:hover {
  background-color: #c90c0fb4;
}

.contato form .submit {
  width: 15%;
  font-size: 14px;
  padding: 5px 10px;
}

footer form .submit::after,
.contato form .submit::after {
  background: url(../img/layout/setinha-enviar.svg) no-repeat 100%;
  padding-left: 11px;
  content: "";
  background-size: contain;
  margin-left: 6px;
  font-family: Open Sans;
}

footer .copy {
  font-size: 12px;
  padding: 5px 0;
  margin-top: 20px;
  border-top: 1px solid #999;
}

footer .logo-footer {
  width: 90% !important;
}

.home .banner .banner-box {
  width: 80%;
  margin: 0 auto;
  padding: 15% 0;
}

.home .banner .banner-box h1 {
  font-family: Montserrat;
  font-size: 54px;
  line-height: 1.5em;
  font-weight: 300;
  color: white;
}

.home .bloco-2-home {
  background: url(../img/layout/bg2-home.jpg);
  padding: 60px 0;
  color: white;
}

.home .bloco-2-home h1 {
  font-family: Montserrat;
  font-size: 40px;
  font-weight: 300;
  line-height: 1.3em;
}

.home .bloco-2-home p {
  font-family: Open Sans;
  font-size: 18px;
}

.sobre .background,
.servicos .background {
  background-color: #c90c0f;
  color: white;
  padding: 5px 10px;
  width: 90%;
  margin: 0 auto;
}

.sobre .background h1 {
  font-weight: 800;
  font-family: Montserrat;
  font-size: 36px;
}

.sobre,
.servicos,
.clientes,
.contato,
.parcerias {
  background-color: #e2f0f0;
  padding: 60px 0;
}

.sobre h3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
}

.sobre .content-with-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre .bloco-1 p {
  font-size: 16px;
  font-family: Open Sans;
}

.sobre .bloco-2 p {
  font-size: 22px;
  font-family: Montserrat;
  line-height: 1.3em;
  font-weight: 600;
}

.sobre .bloco-2 .content {
  padding: 20px 40px;
}

.theme-color {
  background-color: #c90c0f;
  color: white;
}

.sobre .documento .btn-pdf {
  background-color: transparent;
  border: 1px solid #c90c0f;
  text-align: center;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #c90c0f;
  font-weight: 600;
  font-family: Montserrat;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.sobre .documento .btn-pdf img {
  margin-left: 10px;
}

.sobre .documento {
  font-family: Montserrat;
  font-weight: 600;
}

.sobre .documento .btn-pdf:hover {
  color: white;
  background-color: #c90c0f;
}

.sobre .documento {
  width: 60%;
  margin: 0 auto;
  border-top: 1px solid #c90c0f;
  margin-top: 60px;
}

.servicos {
  background-color: #fff;
}

.servicos .background {
  width: 70%;
}

.servicos .background h1 {
  font-size: 24px;
  font-family: Montserrat;
  font-weight: 600;
}

.servicos .background p {
  font-family: Open Sans;
  font-size: 16px;
}

.servicos .size-limited {
  width: 80%;
  margin: 0 auto;
}

.servicos .titulo {
  font-size: 36px;
  font-weight: 600;
  color: #c90c0f;
  font-family: Montserrat;
  text-transform: uppercase;
}

.servicos .grid-impresos {
  padding: 2px;
}

.servicos .grid-impresos img {
  width: 100%;
}

.servicos .bloco-menor {
  border: 20px solid #eee;
  padding: 20px 40px;
  position: relative;
  margin: 120px auto 40px;
}

.servicos .bloco-menor p {
  font-family: Open Sans;
  font-size: 16px;
}

.servicos .bloco-menor .img-absolute {
  position: absolute;
  width: 33%;
  top: -20%;
}
.servicos img,
.parcerias .content-grid img,
.clientes .d-flex img {
  width: 100%;
}
.parcerias .content-grid img {
  max-height: 180px;
  height: auto;
}

.servicos .bloco-menor .img-ajusted {
  margin: -90px 0 auto;
  position: relative;
}
.servicos .bloco-menor h4 {
  font-size: 18px;
  font-family: Open Sans;
  font-weight: 700;
  text-transform: uppercase;
}

.servicos .bloco-pequeno {
  width: 65%;
  margin: 0 auto;
  background-color: #bdbdbd;
}

.servicos .bloco-pequeno .span {
  position: relative;
  left: -37%;
  top: -5px;
  padding: 5px 0;
  background: #000;
  color: white;
  font-size: 16px;
  font-family: Open Sans;
  font-weight: 600;
  text-transform: uppercase;
}

.servicos .bloco-pequeno .content-span {
  width: 160px;
  position: absolute;
}

.parcerias {
  background: url(../img/layout/bg-parcerias.jpg) no-repeat 100%;
  background-size: cover;
}

.parcerias .content-grid {
  background-color: #841214f2;
  padding: 10px;
  width: 100%;
  margin: 0;
}

.parcerias .content-grid figcaption {
  font-style: normal;
  font-size: 14px;
  font-family: Open Sans;
  color: white;
  padding: 10px;
}

.clientes,
.contato {
  background-color: #fff;
}

.clientes .d-flex {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  align-items: center;
  justify-content: center;
}

.clientes .d-flex .cliente {
  border: 1px solid #cecece;
  padding: 10px;
  margin: 10px;
}

.clientes .d-flex .cliente {
  max-height: 150px;
}

.contato h5 {
  font-size: 18px;
  font-family: Montserrat;
  color: #c90c0f;
  font-weight: 800;
  margin-top: 0;
}

.contato .telefone {
  font-family: Open Sans;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0;
}

.contato .endereco {
  font-size: 14px;
  font-family: Open Sans;
}

.contato .google-maps iframe {
  width: 100% !important;
  height: 550px !important;
}

.servicos .video iframe {
  width: 100% !important;
}

.parcerias .background {
  background-color: #fff;
  padding: 10px 2em;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.parcerias .background h1 {
  color: #c90c0f;
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  text-transform: capitalize;
}
