desktop-base-width     = 1300px
rupture.desktop-cutoff = $tablet = 1360px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$verde      = #038F81
$verdeClaro = #00B3A1
$verdeBg    = #E9F2F1
$azul       = #0033AB
$azulEscuro = #021170
$cinza      = #333333

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:ital,wght@0,400;0,700;1,600;1,700&display=swap')

montserrat($size, $weight = normal)
    font-size $rem($size)
    font-family 'Montserrat', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == semi
        font-weight 600
    if $weight == bold
        font-weight 700

opensans($size, $weight = normal)
    font-size $rem($size)
    font-family 'Open Sans', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    if $weight == bold
        font-weight 700

