.painel-login
    background linear-gradient(90deg, #185a9d 10%, #43cea2 120%)
    .login
        padding 30px
        background #fff
        border-radius 5px
        margin 100px auto 0
        float none
        box-shadow 0px 0px 10px 0px rgba(0, 0, 0, .5)
        +below(768px)
            margin-top 30px
    .input-group
        margin-bottom 5px
    h3
        margin 0 0 30px
        small
            display block
            margin-top 10px

td
    vertical-align middle !important

.cke
    border 2px solid #dce4ec !important
    border-radius 4px
    transition border .3s !important
.cke_editable
    font-family "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important
    font-size 15px !important
.cke_focus
    border-color #2c3e50 !important

.multiselect
    text-align left !important

.exportar-csv
    margin-top 30px
    display flex
    flex-direction column
    align-items flex-start
    justify-content center
    padding 10px
    p
        font-size 18px
        margin 0
        padding-bottom 10px
    a
        width 280px
        font-size 20px
        color #2c3e50
        text-align center
        background-color #dce4ec
        border-radius 2px
        padding 5px
        text-transform uppercase
        &:hover
            text-decoration none
            background-color #aabed1

.pointer-events 
    pointer-events none